extends ./layout
block content
    form(action="/upload", method="POST",  enctype="multipart/form-data")
        input(type="file", id="data", name="data",  multiple, accept=".mp3,audio/*")
        input(type="Submit")